.card {
    width:250px;
    font-family: Oswald, sans-serif;
    display: inline-block;
    margin: 60px 40px auto;
    transition: .10s;
    text-align: center;
    opacity: 87%;
}
.card:hover{
    box-shadow: 0 0 50px 0 rgb(25, 173, 25);
    cursor: pointer;
    opacity: 100%;
    transform: scale(1.2);
}

.card-header {
    height: 190px;
    width: 100%;
    padding: 15px;
    background-size:cover;
    color:#fff;
}

.card-body {
    padding: 15px;
    background-color:#081c24;
    width:100%;
}

.card-body h4 {
    clear: both;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
}
.card-body h4:hover {
    overflow: hidden;
    white-space: normal;
}


.date {
    font-size: 15px;
    font-weight: 600;
    color: mediumspringgreen;
}

.button-primary {
    border: none;
    box-shadow: none;
    font-family: inherit;
    background-color:transparent;
    color: mediumspringgreen;
    font-size: 15px;
    transition:.25s;
}

