.background{
}

.outer {
    display: block;
    heght: 110vh;
    background-attachment: scroll;
}

.inner {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 1000px;
    height: 110vh;
    margin-left: auto;
    margin-right: auto;
}
