.contact{
    width: 50%;
    height: 100%;
    display: flow;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.contact:hover{
    color: white;
    opacity: 70%;
    background:lightslategray;
}

.clear{
    display: block;
    width: 100%;
    margin-top: 100px;
}

.block{
    border-radius: 20px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    position: center;
    align-items: center;
}

.block:hover{
    box-shadow: 0 0 50px 0 rgb(25, 173, 25);
    cursor: pointer;
    opacity: 100%;
    transform: scale(1.2);
}
